{% macro default(title, buttonText) %}
  <div class="action-bar">
    <div class="action-bar__group hide-lg hide-xl">
      <button class="icon-button js-sidebar-button">
        <svg class="icon-button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#menicon"/></svg>
        <span class="sr-only">Open Menu</span>
      </button>
    </div>

    <div class="action-bar__group action-bar__group--flexible action-bar__group--text-overflow">
      <h2 class="action-bar__title">{{ title }}</h2>
    </div>

    <div class="action-bar__group">
      <button class="button button--icon">
        <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#save-icon"/></svg>
        <span class="button__text  sr-only-xs">{{ buttonText }}</span>
      </button>
    </div>
  </div>
{% endmacro %}
