/* FORMS
 * All your form styles go in this file.
============================================================================= */

// INPUT, TEXTAREA, SELECT
// These share similar styles
// =====================================

.form {
  --form-control-bg-color: #{$color-white};
  --form-control-bg-color-disabled: #{darken($color-white, 10%)};
  --form-control-color: #{$color-charcoal};
  --form-control-placeholder-holder: #{$color-silver};
  --form-control-box-shadow-color: rgba(0, 0, 0, 0.6);
  --form-label-color: #{$color-shadow};

  width: 100%;

  &--dark {
    --form-control-bg-color: #{$color-shadow};
    --form-control-bg-color-disabled: #{darken($color-shadow, 15%)};
    --form-control-color: #{$color-white};
    --form-control-box-shadow-color: rgba(255, 255, 255, 0.85);
    --form-label-color: #{$color-white};
  }

  &__control {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    color: var(--form-control-color);

    background-color: var(--form-control-bg-color);

    border: none;
    border-radius: 0.2em;
    outline: none;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 0.1em var(--form-control-box-shadow-color);
    }

    &:disabled {
      background-color: var(--form-control-bg-color-disabled);
      box-shadow: none;
    }

    &.has-error {
      box-shadow: 0 0 0 0.1em $color-orange;

      &:hover,
      &:focus {
        box-shadow: 0 0 0 0.1em var(--form-control-box-shadow-color);
      }
    }

    &::placeholder {
      color: var(--form-control-placeholder-holder);
      opacity: 1;
    }

    &[placeholder] {
      text-overflow: ellipsis;
    }

    &--input,
    &--select {
      height: 2.5em;
      padding: 0 1em;

      @media (min-width: $break-md-min) {
        height: 2em;
        padding: 0 0.6em;
      }
    }

    &--select {
      appearance: none;

      height: 2.5em;
      padding: 0 2em 0 0.6em;

      background-position: right 0.4em center;
      background-size: 1.8em;
      background-repeat: no-repeat;
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M7 10l5 5 5-5z"/></svg>');

      cursor: pointer;

      &:disabled {
        cursor: default;
      }

      .form--dark & {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M7 10l5 5 5-5z"/></svg>');
      }

      @media (min-width: $break-md-min) {
        height: 2em;
        background-size: 1.6em;
      }
    }

    &--textarea {
      padding: 1em;

      @media (min-width: $break-md-min) {
        padding: 0.6em;
      }
    }

    &--radio,
    &--checkbox {
      background-color: var(--form-control-bg-color);
      border-radius: 5px;
      padding: 0.5rem 0.6rem;

      &:hover {
        box-shadow: none;
      }

      &.has-error:hover {
        box-shadow: 0 0 0 0.1em $color-orange;
      }
    }

    &--search {
      padding-right: 2.8em;

      background-position: right 0.6em center;
      background-size: 1.4em;
      background-repeat: no-repeat;
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    }

    &--single {
      margin-bottom: 0;
    }

  }

  &__label {
    display: block;
    padding-bottom: 0.2em;

    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--form-label-color);

    cursor: pointer;

    @media (min-width: $break-md-min) {
      font-size: 0.8em;
    }
  }

  &__error {
    margin: 0;
    padding: 0.4em 1em;

    color: $color-white;

    background-color: $color-orange;
    box-shadow: 0 0 0 0.1em $color-orange;
    border-radius: 0.2em 0.2em 0 0;

    @media (min-width: $break-md-min) {
      padding: 0.4em 0.6em;
    }
  }

  &__radio,
  &__checkbox {
    &-label {
      display: flex;
      align-items: center;
      min-height: 2.5em;
      padding: 0 0.1em 0 1.4em;

      font-size: 1em;
      text-transform: none;
      letter-spacing: 0;

      background-position: left center;
      background-size: 1em;
      background-repeat: no-repeat;

      border-width: 0;
      border-radius: 0.2em;

      @media (min-width: $break-md-min) {
        min-height: 2em;
      }
    }

    &-input {
      @include sr-only();
    }
  }

  &__radio {
    &-label {
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');

      .form--dark & {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
      }
    }

    &-input:checked + &-label {
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');

      .form--dark & {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
      }
    }
  }

  &__checkbox {
    &-label {
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>');

      .form--dark & {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>');
      }
    }

    &-input:checked + &-label {
      background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');

      .form--dark & {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
      }
    }
  }
}

[class*=c-input--icon] {
  padding-right: 2.8em;

  background-position: right 0.6em center;
  background-size: 1.4em;
  background-repeat: no-repeat;
}

.c-input--icon-search {
  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-shadow}"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');

  &.c-input--dark {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color-white}"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  }
}
