{% macro item(text) %}
    <li class="dropdown__item"><a href="#" class="dropdown__link">{{ text }}</a></li>
{% endmacro %}

{% macro list(text, icon = null, iconOnly = false, url = null) -%}
<div class="dropdown {% if url %}js-form-autocomplete{% else %}js-dropdown{% endif %}"{% if url %} data-url="{{ url }}"{% endif %}>
  {% if url -%}
    <form class="form form--dark">
      <label for="domain" class="sr-only">{{ text }}</label>
      <input type="text" id="domain" placeholder="{{ text }}" class="form__control form__control--input input--dark dropdown__input js-form-autocomplete-input">
    </form>
  {%- else -%}
  <button class="button{% if icon %} button--icon{% endif %} dropdown__button js-toggle-button">
    {% if icon -%}
    <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#{{ icon }}-icon"/></svg>
    <span class="button__text{% if iconOnly %} sr-only{% endif %}">{{ text }}</span>
    {%- else -%}
    {{ text }}
    {%- endif %}
    <svg class="dropdown__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#dropdown-icon"/></svg>
  </button>
  {%- endif %}

  <div class="dropdown__panel {% if url %}dropdown__panel--full js-form-autocomplete-panel{% else %}dropdown__panel--menu js-toggle-panel{% endif %}">
    <ul class="dropdown__list">
      {{ caller() }}
    </ul>
  </div>
</div>
{%- endmacro %}
