{% set domains =
	[
		'123-reg.co.uk',
		'163.com',
		'1688.com',
		'1und1.de',
		'360.cn',
		'4shared.com',
		'51.la',
		'a8.net',
		'abc.net.au',
		'about.com',
		'about.me',
		'aboutads.info',
		'accuweather.com',
		'addthis.com',
		'addtoany.com',
		'admin.ch',
		'adobe.com',
		'alexa.com',
		'altervista.org',
		'amazon.co.jp',
		'amazon.co.uk',
		'amazon.com',
		'amazon.de',
		'amazonaws.com',
		'ameblo.jp',
		'angelfire.com',
		'answers.com',
		'aol.com',
		'apache.org',
		'apple.com',
		'archive.org',
		'arizona.edu',
		'army.mil',
		'arstechnica.com',
		'auda.org.au',
		'bandcamp.com',
		'barnesandnoble.com',
		'bbb.org',
		'behance.net',
		'berkeley.edu',
		'bigcartel.com',
		'bing.com',
		'bizjournals.com',
		'blinklist.com',
		'blog.com',
		'bloglines.com',
		'bloglovin.com',
		'blogs.com',
		'blogspot.com',
		'blogtalkradio.com',
		'bloomberg.com',
		'bluehost.com',
		'booking.com',
		'boston.com',
		'bravesites.com',
		'businessinsider.com',
		'businessweek.com',
		'businesswire.com',
		'buzzfeed.com',
		'ca.gov',
		'cafepress.com',
		'cam.ac.uk',
		'canalblog.com',
		'cargocollective.com',
		'cbc.ca',
		'cbslocal.com',
		'cdbaby.com',
		'chicagotribune.com',
		'china.com.cn',
		'chron.com',
		'chronoengine.com',
		'cisco.com',
		'clickbank.net',
		'cloudflare.com',
		'cmu.edu',
		'cnbc.com',
		'cnet.com',
		'cnn.com',
		'cocolog-nifty.com',
		'columbia.edu',
		'com.com',
		'comsenz.com',
		'constantcontact.com',
		'cornell.edu',
		'craigslist.org',
		'creativecommons.org',
		'cyberchimps.com',
		'dagondesign.com',
		'de.vu',
		'dedecms.com',
		'delicious.com',
		'deliciousdays.com',
		'dell.com',
		'desdev.cn',
		'deviantart.com',
		'digg.com',
		'diigo.com',
		'discovery.com',
		'discuz.net',
		'disqus.com',
		'dmoz.org',
		'domainmarket.com',
		'dot.gov',
		'dropbox.com',
		'drupal.org',
		'dyndns.org',
		'e-recht24.de',
		'earthlink.net',
		'ebay.co.uk',
		'edublogs.org',
		'eepurl.com',
		'ehow.com',
		'elegantthemes.com',
		'elpais.com',
		'engadget.com',
		'etsy.com',
		'europa.eu',
		'examiner.com',
		'example.com',
		'exblog.jp',
		'ezinearticles.com',
		'fastcompany.com',
		'fda.gov',
		'feedburner.com',
		'fema.gov',
		'flavors.me',
		'flickr.com',
		'fotki.com',
		'foxnews.com',
		'free.fr',
		'friendfeed.com',
		'ft.com',
		'ftc.gov',
		'g.co',
		'geocities.com',
		'geocities.jp',
		'github.com',
		'github.io',
		'gizmodo.com',
		'globo.com',
		'gmpg.org',
		'goo.gl',
		'goo.ne.jp',
		'goodreads.com',
		'google.ca',
		'google.cn',
		'google.co.jp',
		'google.co.uk',
		'google.com',
		'google.com.au',
		'google.com.br',
		'google.com.hk',
		'google.de',
		'google.fr',
		'google.it',
		'google.nl',
		'gov.uk',
		'gravatar.com',
		'guardian.co.uk',
		'hao123.com',
		'harvard.edu',
		'hatena.ne.jp',
		'hc360.com',
		'hexun.com',
		'hhs.gov',
		'histats.com',
		'home.pl',
		'homestead.com',
		'hostgator.com',
		'house.gov',
		'howstuffworks.com',
		'hubpages.com',
		'hud.gov',
		'huffingtonpost.com',
		'hugedomains.com',
		'i2i.jp',
		'ibm.com',
		'icio.us',
		'icq.com',
		'ihg.com',
		'illinois.edu',
		'imageshack.us',
		'imdb.com',
		'imgur.com',
		'independent.co.uk',
		'infoseek.co.jp',
		'instagram.com',
		'intel.com',
		'irs.gov',
		'is.gd',
		'issuu.com',
		'istockphoto.com',
		'jalbum.net',
		'japanpost.jp',
		'java.com',
		'jiathis.com',
		'jigsy.com',
		'jimdo.com',
		'joomla.org',
		'jugem.jp',
		'kickstarter.com',
		'last.fm',
		'linkedin.com',
		'list-manage.com',
		'live.com',
		'liveinternet.ru',
		'livejournal.com',
		'loc.gov',
		'lulu.com',
		'lycos.com',
		'mac.com',
		'macromedia.com',
		'mail.ru',
		'mapquest.com',
		'mapy.cz',
		'marketwatch.com',
		'mashable.com',
		'mayoclinic.com',
		'mediafire.com',
		'merriam-webster.com',
		'microsoft.com',
		'miibeian.gov.cn',
		'miitbeian.gov.cn',
		'mit.edu',
		'moonfruit.com',
		'mozilla.com',
		'mozilla.org',
		'msn.com',
		'msu.edu',
		'mtv.com',
		'multiply.com',
		'mysql.com',
		'narod.ru',
		'nasa.gov',
		'nationalgeographic.com',
		'nature.com',
		'naver.com',
		'nba.com',
		'nbcnews.com',
		'netlog.com',
		'netscape.com',
		'netvibes.com',
		'networksolutions.com',
		'newsvine.com',
		'newyorker.com',
		'nhs.uk',
		'nifty.com',
		'nih.gov',
		'ning.com',
		'npr.org',
		'nsw.gov.au',
		'nydailynews.com',
		'nymag.com',
		'nytimes.com',
		'nyu.edu',
		'oakley.com',
		'ocn.ne.jp',
		'odnoklassniki.ru',
		'opensource.org',
		'opera.com',
		'oracle.com',
		'over-blog.com',
		'ovh.net',
		'ow.ly',
		'paginegialle.it',
		'parallels.com',
		'patch.com',
		'paypal.com',
		'pbs.org',
		'pen.io',
		'people.com.cn',
		'photobucket.com',
		'php.net',
		'phpbb.com',
		'pinterest.com',
		'plala.or.jp',
		'posterous.com',
		'princeton.edu',
		'printfriendly.com',
		'privacy.gov.au',
		'prlog.org',
		'prnewswire.com',
		'psu.edu',
		'qq.com',
		'quantcast.com',
		'rakuten.co.jp',
		'rambler.ru',
		'redcross.org',
		'reddit.com',
		'rediff.com',
		'reference.com',
		'reuters.com',
		'sakura.ne.jp',
		'salon.com',
		'sbwire.com',
		'sciencedaily.com',
		'sciencedirect.com',
		'scientificamerican.com',
		'scribd.com',
		'seattletimes.com',
		'seesaa.net',
		'senate.gov',
		'sfgate.com',
		'shareasale.com',
		'shinystat.com',
		'shop-pro.jp',
		'shutterfly.com',
		'si.edu',
		'simplemachines.org',
		'sina.com.cn',
		'sitemeter.com',
		'skyrock.com',
		'slashdot.org',
		'slate.com',
		'slideshare.net',
		'smugmug.com',
		'so-net.ne.jp',
		'sogou.com',
		'sohu.com',
		'soundcloud.com',
		'soup.io',
		'sourceforge.net',
		'sphinn.com',
		'spiegel.de',
		'spotify.com',
		'squarespace.com',
		'squidoo.com',
		'stanford.edu',
		'state.gov',
		'state.tx.us',
		'storify.com',
		'studiopress.com',
		'sun.com',
		'surveymonkey.com',
		't-online.de',
		'tamu.edu',
		'taobao.com',
		'techcrunch.com',
		'technorati.com',
		'ted.com',
		'telegraph.co.uk',
		'theatlantic.com',
		'theglobeandmail.com',
		'theguardian.com',
		'themeforest.net',
		'thetimes.co.uk',
		'time.com',
		'tiny.cc',
		'tinypic.com',
		'tinyurl.com',
		'tmall.com',
		'toplist.cz',
		'topsy.com',
		'trellian.com',
		'tripadvisor.com',
		'tripod.com',
		'tumblr.com',
		'tuttocitta.it',
		'twitpic.com',
		'twitter.com',
		'typepad.com',
		'ucla.edu',
		'ucoz.com',
		'ucoz.ru',
		'ucsd.edu',
		'uiuc.edu',
		'umich.edu',
		'umn.edu',
		'un.org',
		'unblog.fr',
		'unc.edu',
		'unesco.org',
		'unicef.org',
		'uol.com.br',
		'upenn.edu',
		'usa.gov',
		'usatoday.com',
		'usda.gov',
		'usgs.gov',
		'usnews.com',
		'ustream.tv',
		'utexas.edu',
		'va.gov',
		'vimeo.com',
		'vinaora.com',
		'vistaprint.com',
		'vk.com',
		'vkontakte.ru',
		'w3.org',
		'washington.edu',
		'weather.com',
		'webeden.co.uk',
		'webmd.com',
		'webnode.com',
		'webs.com',
		'weebly.com',
		'weibo.com',
		'whitehouse.gov',
		'who.int',
		'wikia.com',
		'wikispaces.com',
		'wiley.com',
		'wisc.edu',
		'wix.com',
		'woothemes.com',
		'wordpress.com',
		'wordpress.org',
		'wp.com',
		'wsj.com',
		'wufoo.com',
		'wunderground.com',
		'xinhuanet.com',
		'xrea.com',
		'yahoo.co.jp',
		'yahoo.com',
		'yale.edu',
		'yandex.ru',
		'ycombinator.com',
		'yellowbook.com',
		'yellowpages.com',
		'yelp.com',
		'yolasite.com',
		'youku.com',
		'youtu.be',
		'zdnet.com'] %}
