{% extends 'new.html' %}

{% block title %}Create domain - {{block.super}}{% endblock %}
{% block title-text %}Create domain{% endblock %}

{% block form %}
<form action="{% url 'mailAdmin:domainNew' %}" method="post">
    {% csrf_token %}
    {{ block.super }}
</form>
{% endblock %}

{% block content %}
<div class="l-grid">
    <div class="l-grid__item l-grid__item--halfs-md">
        <div class="c-box">
            <h3 class="c-box__title">Settings</h3>
            <div class="c-box__content">
                <label for="{{ form.name.id_for_label }}" class="u-sr-only">{{ form.name.label }}</label>
                {% if form.name.errors|length > 0 %}
                <p class="c-label--error">
                    {% for error in form.name.errors %}
                    {{ error }}
                    {% endfor %}
                </p>
                {% endif %}
                <input {% if form.name.errors|length > 0 %}class="has-error" {% endif %}type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value }}">

                {{ form.active }}
                <label for="{{ form.active.id_for_label }}">{{ form.active.label }}</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}