{% extends 'single.html' %}
{% load staticfiles %}

{% block title %}Delete account "{{account.name}}@{{account.domain.name}}"{% endblock %}
{% block title-text %}Delete "{{account.name}}@{{account.domain.name}}"{% endblock %}
{% block actionbar-button %}{% endblock %}

{% block form %}
<form action="{% url 'mailAdmin:accountDelete' account.domain.name account.name %}" method="post">
    {% csrf_token %}
    {{ block.super }}
</form>
{% endblock %}

{% block content %}
<div class="l-grid">
    <div class="l-grid__item l-grid__item--halfs-md">
        <div class="c-box">
            <h3 class="c-box__title">Delete {{account.name}}@{{account.domain.name}}?</h3>
            <div class="c-box__content">
                <p>Do you want to delete the account {{account.name}}@{{account.domain.name}}?
                    {% if account.alias_set.all|length > 0 %}The account has {{account.alias_set.all|length}} aliases.{% endif %}</p>
                <div class="c-button-row">
                    <a href="{% url 'mailAdmin:domainAccounts' account.domain.name %}" class="c-button">Cancel</a>
                    <button type="submit" class="c-button c-button--highlight c-button--icon">
                        <svg class="c-button__icon"><use xlink:href="{% static 'mailadmin/img/icons.svg' %}#delete"/></svg>
                        <span class="c-button__text">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}