{% import "../form/templates.njk" as form %}

{% macro domain(domain, active = true) %}
  <li class="list__item js-list-item">
    <div class="list__group list__group--title">
      <a href="#" class="list__link" title="{{ domain }}">
        <h3 class="list__title">{{ domain }}</h3>
      </a>

      <button class="icon-button icon-button--active-rotate list__toggle-button js-toggle-button">
        <svg class="icon-button__icon">
          <use xlink:href="{{ 'assets/icons.svg'|relative }}#dropdown-icon"/>
        </svg>
        <span class="sr-only">Show Actions</span>
      </button>
    </div>

    <div class="list__group list__group--actions js-toggle-panel">
      <div class="list__action-group">
        <input class="form__checkbox-input" type="checkbox" name="{{ domain }}-active" value="1" id="{{ domain }}-active"{% if active %} checked="checked"{% endif %} />
        <label class="form__checkbox-label" for="{{ domain }}-active">Active</label>
      </div>

      <div class="list__action-group">
        <button class="button button--icon">
          <svg class="button__icon">
            <use xlink:href="{{ 'assets/icons.svg'|relative }}#group-icon"/>
          </svg>
          <span class="button__text sr-only-sm sr-only-md">Aliases</span>
        </button>

        <button class="button button--icon">
          <svg class="button__icon">
            <use xlink:href="{{ 'assets/icons.svg'|relative }}#device-hub-icon"/>
          </svg>
          <span class="button__text sr-only-sm sr-only-md">Mailing Lists</span>
        </button>

        <button class="button button--icon">
          <svg class="button__icon">
            <use xlink:href="{{ 'assets/icons.svg'|relative }}#forward-icon"/>
          </svg>
          <span class="button__text sr-only-sm sr-only-md">Forwards</span>
        </button>
      </div>

      <div class="list__action-group">
        <button class="button button--icon">
          <svg class="button__icon">
            <use xlink:href="{{ 'assets/icons.svg'|relative }}#settings-icon"/>
          </svg>
          <span class="button__text sr-only-sm sr-only-md sr-only-lg">Settings</span>
        </button>

        <button class="button button--icon">
          <svg class="button__icon">
            <use xlink:href="{{ 'assets/icons.svg'|relative }}#delete-icon"/>
          </svg>
          <span class="button__text sr-only-sm sr-only-md sr-only-lg">Delete</span>
        </button>
      </div>
    </div>
  </li>
{% endmacro %}

{% macro alias(from, to, active = true) %}
<li class="list__item js-list-item">
  <div class="list__group list__group--title">
    <a href="#" class="list__link">
      <h3 class="list__title list__title--multiline">
        <span title="{{ from }}">{{ from }}</span>
        <span title="{{ to }}">
          <svg class="list__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#group-icon"/></svg>
          {{ to }}
        </span>
      </h3>
    </a>

    <button class="icon-button icon-button--active-rotate list__toggle-button js-toggle-button">
      <svg class="icon-button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#dropdown-icon"/></svg>
      <span class="sr-only">Show Actions</span>
    </button>
  </div>

  <div class="list__group list__group--actions js-toggle-panel">
    <div class="list__action-group">
      <input class="form__checkbox-input" type="checkbox" name="{{ from }}-active" value="1" id="{{ from }}-active"{% if active %} checked="checked"{% endif %} />
      <label class="form__checkbox-label" for="{{ from }}-active">Active</label>
    </div>

    <div class="list__action-group">
      <button class="button button--icon">
        <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#settings-icon"/></svg>
        <span class="button__text sr-only-md">Settings</span>
      </button>

      <button class="button button--icon">
        <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#delete-icon"/></svg>
        <span class="button__text sr-only-md">Delete</span>
      </button>
    </div>
  </div>
</li>
{% endmacro %}

{% macro forward(address, target, active = true) %}
<li class="list__item js-list-item">
  <div class="list__group list__group--title">
    <a href="#" class="list__link">
      <h3 class="list__title list__title--multiline">
        <span title="{{ address }}">{{ address }}</span>
        <span title="{{ target }}">
          <svg class="list__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#forward-icon"/></svg>
          {{ target }}
        </span>
      </h3>
    </a>

    <button class="icon-button icon-button--active-rotate list__toggle-button js-toggle-button">
      <svg class="icon-button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#dropdown-icon"/></svg>
      <span class="sr-only">Show Actions</span>
    </button>
  </div>

  <div class="list__group list__group--actions js-toggle-panel">
    <div class="list__action-group">
      <input class="form__checkbox-input" type="checkbox" name="{{ address }}-active" value="1" id="{{ address }}-active"{% if active %} checked="checked"{% endif %} />
      <label class="form__checkbox-label" for="{{ address }}-active">Active</label>
    </div>

    <div class="list__action-group">
      <button class="button button--icon">
        <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#settings-icon"/></svg>
        <span class="button__text sr-only-md">Settings</span>
      </button>

      <button class="button button--icon">
        <svg class="button__icon"><use xlink:href="{{ 'assets/icons.svg'|relative }}#delete-icon"/></svg>
        <span class="button__text sr-only-md">Delete</span>
      </button>
    </div>
  </div>
</li>
{% endmacro %}

{% macro outer() %}
  <ul class="list">
    {{ caller() }}
  </ul>
{% endmacro %}
