{% extends 'single.html' %}
{% load staticfiles %}

{% block title %}Remove account from list "{{list.name}}@{{list.domain.name}}" - {{block.super}}{% endblock %}
{% block title-text %}Remove account from "{{list.name}}@{{list.domain.name}}"{% endblock %}
{% block actionbar-button %}{% endblock %}

{% block form %}
<form action="{% url 'mailAdmin:mailinglistAccountRemove' list.domain.name list.name account.pk %}" method="post">
    {% csrf_token %}
    {{ block.super }}
</form>
{% endblock %}

{% block content %}
<div class="l-grid">
    <div class="l-grid__item l-grid__item--halfs-md">
        <div class="c-box">
            <h3 class="c-box__title">Remove account from {{list.name}}@{{list.domain.name}}?</h3>
            <div class="c-box__content">
                <p>Do you want to remove the account {{account.name}}@{{account.domain.name}} from mailing list {{list.name}}@{{list.domain.name}}?</p>
                <div class="c-button-row">
                    <a href="{% url 'mailAdmin:mailinglistAccounts' list.domain.name list.name %}" class="c-button">Cancel</a>
                    <button type="submit" class="c-button c-button--highlight c-button--icon">
                        <svg class="c-button__icon"><use xlink:href="{% static 'mailadmin/img/icons.svg' %}#delete"/></svg>
                        <span class="c-button__text">Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}